In [1]:
#float()
a = float("3.14")
print(a)

3.14

In [ ]:
#int
a = int("3.99") #ไม่ได้ ดังนั้น เราต้องเปลี่ยนเป็น float ก่อน
print(a)

ValueError: invalid literal for int() with base 10: '3.99'

In [4]:
a = int(float("3.99"))
print(a)

3

float สามารถ convert ข้อความไปเป็นเลขได้ทั้งหมด ถ้ามี ""

In [6]:
a = bool(0)
print(a)

False

In [8]:
a = str(1)
print(a)
b = str(False)
print(b)

1
False

In [10]:
a = bool(str(float("2")))

print(a) , print(type(a))

True
<class 'bool'>

(None, None)

In [ ]:
a = 5
a = True
# dynamic typed programming language สามารถเปลี่ยน type ได้ตลอดเวลา

## mathematical

In [ ]:
import math

In [13]:
a = 2 + 6 + 3 + 5
b = 5 + 10
print(a + b)

31

#### ถ้าต้องที่จะบวกหลาย ๆ ตัว เราจะใช้ sum

In [28]:
a = sum((2,6,3,5))

b = 2 + 6
c = 3 * 5
d = int(5-2)
e = 10 / 2
g = 8//3
r = 2 ** 5
t = 7 ** 0.5 
k = 8 ** (1/7) #ต้องมีวงเล็บก็ดี


# p = 5 % 2 # หารเอาเศษ
y = 32.0 % 4
w = 32.0 % 5.0
p = 32.0 % True

# print(type(e)) # ผลลัพธ์จะเป็น float เสมอ
# print(type(d)) # ผลลัพธ์จะเป็น int
# print(k)
# print(p)
print(p)

0.0

In [ ]:
(int(8//3))

2

In [18]:
print(int(5/2))

2

reseach for the point

In [29]:
10 % 3.3

0.10000000000000053

In [33]:
7/3
0.1 + 0.2

0.30000000000000004

In [32]:
a = 0 ** 0
print(a)

1

In [ ]:
a = (2 * 2) - (2 / 2) - (2 ** 2) # 1st way
a = 2*2 - 2/2 - 2**2 # 2nd way
a = 2 * (2 - (1/2) - 2) # 3rd way
print(a)

## Variable Adjustment

### short hand

In [ ]:
a = 5
a = a + 1
a += 1

a -= 2

a //= 2

a **= 3



print(a)

8

In [40]:
a = 5
a %= 3
print(a)

2

## logical operation

' proposition ' : statement that you can assign boolean value to it.

'you are gay' : is the proposition

'are you gay' is not the proposition

In [46]:
a = 5
2 > 3

a > 5

2 >= 2

2 == 4 #False

False

= is for the 

== is to compare two avariable

In [47]:
print(4 > 3 > 3 > 1)

False

In [48]:
print((4 > 3) and (3 > 3) and (3 > 1))

False

In [52]:
# not and or

print(not True)
print((not 1) > 2)

2 > 3 and 3 > 1 

2 > 3 or 3 > 1

False
False

True

In [53]:
a = 5
b = 6
print(a != b-1 or  b**2 > a)

True

In [54]:
a = 0
b = 2
print(a != b-1 or a)

True

In [ ]:
True and 0
True and 1 and 0 and 5 #เพราะว่า 0 คือตัวที่แปลว่าค่าออกมาเป็น False ดังนั้นมันจะให้ออกมาเป็น 0
True and 1 and 5 and 8 #เพระาว่าทั้งหมดถูกต้อง มันจะแปลค่าออกมาเป็นเลขสุดท้าย

8