## modify element

In [5]:
number = [1,2,3,4]
number[0] += 4 # บอกเพิ่มเข้าไปที่ index แรก

print(number)
print(number[-4]) #ปริ้นอันสุดท้าย นับจากด้านหลัง

[5, 2, 3, 4]
5

In [ ]:
number = [1,2,3,4]
# number[0] *= 5
# print(number)

#list comprehension
number = [num * 2 for num in number]
print(number)

#for loop
for num in number :
    num * 2
    print(num)

#for loop
list = []
for index, num in enumerate(number) : #จับคู่ระหว่าง Index กับ value ข้างใน
    number[index] = num * 2
    list.append(num)

print(list)

#for loop
for index in range(len(number)):
    number[index] *= 2

print(number)

[2, 4, 6, 8]
2
4
6
8
[2, 4, 6, 8]
[8, 16, 24, 32]

### list (list extractor)

In [ ]:
number = [1, 2, 3, 4]
print(*number) #เอาเเค่ตัวข้างใน เเต่ก็เป็น list อยุ่นั้นเเหละ

1 2 3 4

In [15]:
l1 = [1, 2]
l2 = [3, 4]

l1 + l2

[1, 2, 3, 4]

In [ ]:
'A' * 10
['A'] * 10

['A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A']

In [18]:
zero = [0] * 10
print(zero)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
l1 = [1, 2]
print(l1 * 10) # เหมือน extend

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

### reverse()

In [ ]:
ord("A") # ลำดับ=

65

In [ ]:
numbers = [5, 3, 2, 1]
numbers.reverse()
print(numbers)

[1, 2, 3, 5]

In [ ]:
numbers = [5, 8, 6, 1]
numbers.sort() #เรียงจากน้อยไปมาก
print(numbers)

[1, 5, 6, 8]

lexiographincally =  จัดเรียงตามพจนานุกรม

In [ ]:
score = [['kam', 5], ['cheetah', 67], ['shin', 6]]
score.sort() #จัดเรียงที่พยัญชนะก่อน
score

[['cheetah', 67], ['kam', 5], ['shin', 6]]

## function

In [ ]:
def my_function(number):
    return number[1]

In [43]:
score = [['kam', 5], ['cheetah', 67], ['shin', 6]]
score.sort(key=my_function)
score

[['kam', 5], ['shin', 6], ['cheetah', 67]]

In [44]:
def my_function(number):
    return number[1:3]

In [45]:
score = [['kam', 5, 18], ['cheetah', 67, 100], ['shin', 6, 0]]
score.sort(key=my_function)
score

[['kam', 5, 18], ['shin', 6, 0], ['cheetah', 67, 100]]

### not in / in

In [48]:
l = [1,22,2,5,4,4,7,[3]]
print([3] in l)
print(3 in l)
print(1,2 in l)

True
False
1 True

## map

take 2 agument

iterable = that can be loop (str, list, range, not int)

In [ ]:
my_list = [1, 2, 1.5, 3.4]

map(int, my_list) #ก็จะ apply ทุกค่าใน list then convert to yhe list

TypeError: 'list' object is not callable

input : 1 2 3 4

you want [1, 2, 3, 4]

In [ ]:
number = input().split() # ให้ค่าออกมาเป็น list ของ str
# print(type(number))

for index in range(len(number)):
    number[index] = int(number[index]) #เปลี่ยนค่า str เป็น int เเล้วเก็บไว้ที่เดิมก็คือ list เดิม

print(number)

<class 'list'>
[1, 2, 3, 4]

## tuple

Tuple is alist but immutable

immutable = จะไม่สามารถเปลี่ยยนได้, append, change, modify

lower memory (relative to list)

only immutable object that store sequence of data

In [ ]:
empty_list = []

empty_tuple = tuple()
empty_tuple = ()

In [61]:
my_tuple = (1, 2, 3)
print(my_tuple)

(1, 2, 3)

In [62]:
one_element = (4,)
one_element

(4,)

### Action in tuple

- index an element
- loop through element
- .count()
- .reverse()
- len()
- *list
- map
- (tuple) * 5
- tuple + tuple .. เเต่ใช้ += ไม่ได้
- not in / in

In [63]:
(1, 2, 3) * 5

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

## Set

A container of something that stores unique values

Mutable

iterble but not subscriptable

In [ ]:
empty_set = set()

my_set = {1, 2, 3, 3} #จะไม่ปริ้นซ้ำ
my_set

{1, 2, 3}

In [ ]:
set([1, 2, 3, 4])
set("apple") # in order เพราะว่า set has no order

{'a', 'e', 'l', 'p'}

## Action

- .add
- .remove
- modify
- loop through
- in / not in 
- len()
- map
- *set

In [ ]:
4 in {1, 2, 3} # เช็กเเค่ 1 ครั้ง ว่าอันไหนคือ 4
# 4 in [1, 2, 3, ...,n] #นับ n ครั้ง

Finding an element is faster than list

In [70]:
for element in set("apple") :
    print(element)

p
e
a
l

In [71]:
my_set = {1.5, 2.5, 3.5}
set(map(int, my_set))

{1, 2, 3}

In [ ]:
my_set = {1.5, 2.5, 3.5}
my_set * 5

TypeError: unsupported operand type(s) for *: 'set' and 'int'

:

In [ ]:
my_set[0]

TypeError: 'set' object is not subscriptable

### union

In [2]:
set_a = {1, 2, 3}
set_b = {4, 3, 6}

print(set_a.union(set_b))
print(set_a | set_b | {5, 9, 7})

{1, 2, 3, 4, 6}
{1, 2, 3, 4, 5, 6, 7, 9}

In [6]:
print(set_a.union([2, 3, 4]) )# สามารถใส่ list in set ได้
# set_a | [2, 3, 4] # เเต่ว่าไมม่สามารถทำแบบนี้ได้

print(set_a | {2, 3, 4}
)

{1, 2, 3, 4}
{1, 2, 3, 4}

#### intersection

In [7]:
set_a = {1, 2, 3}
set_b = {4, 3, 6}
set_a.intersection(set_b)

{3}

### difference

In [12]:
set_a = {1, 2, 3}
set_b = {4, 3, 6}

set_a.difference(set_b)
set_b.difference(set_a)

print(set_a - set_b)
print(set_b - set_a)

{1, 2}
{4, 6}

In [13]:
s = {'apple', 'banana', 'cat', 'dog'}

In [ ]:
for index, element in enumerate(s):
    print(index, element)
    print(hash(element), element) #function ตัวเลขที่เก็บรหัสเอาไว้ เเต่่ไม่สามารถถอดออกมาได้

0 dog
-8692858525602586456 dog
1 banana
-3077387396837453565 banana
2 cat
-9219123198243311965 cat
3 apple
344336332008620110 apple

#### Add

In [22]:
set_a = {1, 2, 3}
set_b = {4, 3, 6}

set_a.add(4) #they print uqiue number
print(set_a)

{1, 2, 3, 4}

#### delete element

In [34]:
set_a = {1, 2, 3}
set_a = {1, 2, 3, True}
set_a = {0, False, ""}

set_a.add("")
set_b = {4, 3, 6}

# set_a.remove(True)
set_a

{'', 0}

In [ ]:
hash(0), hash(False), hash(""), hash(())

In [32]:
id(0)

140714457643416

In [ ]:
set_a = {1, 2, 3, 4, 0} #
set_a.pop() # random

0

In [41]:
set_a.update([4, 5, 6])
set_a

{1, 2, 3, 4, 5, 6}

## Dictionary

### key : value

key is the set

In [1]:
empty_dic = {}
empty_dic = dict()

animal = {'vetit' : 1}

In [ ]:
animal = {2 : 'human', 4 : 'horse', 0 : 'fish', 4 : 'cheetah'}

# list can be the of the dictionary

### list can be the of the dictionary 

key should not be change so ------->

⛔cannot use unhashable type :

list 

set

dict

✅unhashable type :

str 

int, float, Boolean

None

tuple

In [2]:
d = {{5, 6} : 'kam'}

TypeError: unhashable type: 'set'

In [9]:
my_key = 'horse'
print(hash(my_key))

my_dict = {my_key : 1}
my_key += 'w'
print(hash(my_key))

print(my_key)
print(my_dict)

-8494783492705327945
1182383538041829885
horsew
{'horse': 1}

In [14]:
animal = {'human' : 2, 'horse' : 4, 'fish' : 0, 'cheetah' : 4}
animal['cheetah']

4

In [15]:
animal.get('cheetah', 3)

4

In [35]:
animal = {'human' : 2,
          'horse': 7,
          'fish' : 0,
          'cheetah' : 4,
          'cheetah' : 6,
          'cheetah' : 7,}

In [24]:
animal['cheetah'] = 3
animal

{'human': 2, 'horse': 7, 'fish': 0, 'cheetah': 3}

### Modify, Add key-value

In [25]:
animal.update({'cheetah' : 7,
              'fish' : 200,
               'millipede' : 1000})
animal

{'human': 2, 'horse': 7, 'fish': 200, 'cheetah': 7, 'millipede': 1000}

### remove

In [26]:
animal.pop('fish')

200

In [36]:
animal.popitem()

('cheetah', 7)

In [33]:
animal

{}

In [ ]:
del animal['fish'] #จะลบออกตลอดไป เเต่ว่า pop ดีกว่านะ
animal

{'human': 2, 'horse': 7}

## operation

- add
- remove
- modify
- Look
- in / not in
- reversed
- len
- *dict
-

In [ ]:
animal = {'human' : 2, 'cheetah' : 4, 'fish' : 0, 'horse' : 4, True : 6}

print('cheetah' not in animal)
print(True in animal)
print(False in animal)
print(2 in animal) #not possible
# you can check the value in dictionry

False
True
False
False

In [ ]:
animal = {'human' : 2, 'cheetah' : 4, 'fish' : 0, 'horse' : 4, True : 6}

for key in animal :
    print(item) # print only key
    print(animal[key])

human
2
human
4
human
0
human
4
human
6

In [ ]:
for item in animal.items(): # dict no have enumerate---> so we have  key and value
    print(item) #tuple because the value can not change

('human', 2)
('cheetah', 4)
('fish', 0)
('horse', 4)
(True, 6)

In [50]:
for key, value in animal.items():
    print(value)
    print(key)

2
human
4
cheetah
0
fish
4
horse
6
True

In [49]:
for key in animal.keys():
    print(key)

human
cheetah
fish
horse
True

In [ ]:
for index, element in enumerate(animal):
    print(index, element)

0 human
1 cheetah
2 fish
3 horse
4 True